NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_USERNAME=
INITIAL_ADMIN_PASSWORD=
INITIAL_PLAYER_EMAIL=
INITIAL_PLAYER_USERNAME=
INITIAL_PLAYER_PASSWORD=
